body {
  
  background-color:rgb(29, 29, 30);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: white
}
h1{
  text-align: center;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
  font-size: larger;
}
#blog-title{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: large;

}
#blog-desc{
  text-decoration: none;
  color: white;
  font-size:medium;
}

p {
  text-align: justify;
  font-size: 25px;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
ul li
{
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
}
ul
{
  list-style-type: none;
}
#projects
{
  font-size: large;
}
p{
  font-size: large;
}
#project
{
  color: white;
  outline-style: solid;
  outline: 5px black;
  background-color: rgb(121, 119, 119);
}
div
{
  height: auto;
  background-color: rgb(46, 44, 44);
  padding: 15px;
  margin: 15px;
  color: white;
  outline: 5px rgb(27, 27, 27);
  outline-style: solid;
  list-style-type: none;

  
}
div li
{
  margin-bottom: 15px;
}
